* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: url("./img/cursor.png"), auto;
  overflow-x: hidden;
}

.App.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2ea1d1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b7b9b;
}
